.card + .card {
    margin-top: 2rem;
}

#turn-message {
    position: relative;
    height: 80px;
    overflow: hidden;
}

#turn-message .notification {
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: flex;
    align-items: center;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#turn-message:hover .notification {
  animation-play-state: paused !important;
}
