<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> {% block title %} {% endblock %} </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <script defer src="https://unpkg.com/alpinejs@3.9.5/dist/cdn.min.js"></script>
        {% block includes %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <p class="navbar-item">
                    <strong> Regicide Card Game </strong>
                    </p>
                    <a class="navbar-item" href="https://github.com/ahgamut/regi-py">
                        Github
                    </a>
                    <a class="navbar-item" href="https://www.regicidegame.com/site_files/33132/upload_files/RegicideRulesA4.pdf">
                        Game Rules
                    </a>
                </div>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>
