{% extends 'layouts/base.html' %}
{% block title %}
Regicide Card Game
{% endblock %}

{% block includes %}
<link rel="stylesheet" href="/static/minimal.css">
<script charset="utf-8" src="/static/regi.js"></script>
<script charset="utf-8">
document.addEventListener('alpine:init', () => {
    Alpine.store('gamestate', {
        turnMessage: "loading",
        playerShould: "",
        ws: null,
        userid: "{{ userid }}",
        playerid: "{{ playerid }}",
        statusz: "LOADING",
        data: null,
        history: [],
    })
    init_ws()
})
</script>
{% endblock %}


{% block body %}
<div class="container" x-data="{ dummy: null }" >
    <div id="notification-tray" class="is-fixed-top is-fixed-right">
    </div>
    <div id="outputspot" class="card is-fullwidth" style="min-height: 400px; border: 1px solid black;">
        <h1 class="title" x-text="'Player: ' + $store.gamestate.playerid"></h1>
        <div id="game-overall" style="min-height: 320px; border: 1px solid black;">
            <div class="columns is-vcentered">
                <div class="column" x-show="$store.gamestate.statusz == 'RUNNING'"> 
                    <h1 class="subtitle" x-text="'Enemy View'"></h1>
                    <div id="enemy-view">
                    </div>
                </div>
                <div class="column" x-show="$store.gamestate.statusz == 'RUNNING'"> 
                    <h1 class="subtitle" x-text="'Game View'"></h1>
                    <div id="game-view">
                    </div>
                </div>
                <div class="column"  x-show="$store.gamestate.statusz == 'RUNNING'"> 
                    <h1 id="player-should" class="subtitle" x-text="$store.gamestate.playerShould"></h1>
                    <h1 class="subtitle" x-text="'Your cards'"></h1>
                    <div id="player-cards">
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-vcentered">
            <h1 id="turn-message" class="column subtitle is-three-fifths" x-text="$store.gamestate.turnMessage"></h1>
            <div id="submit-zone" class="column is-two-fifths">
                <div id="main-button" class="control button is-large is-primary" x-on:click="mainButtonRedirect()" x-text="mainButtonText()"></div>
                <div id="side-button" class="control button is-large is-secondary" x-show="sideButtonText() != '<hide>'" x-on:click="sideButtonRedirect()" x-text="sideButtonText()"></div>
            </div>
        </div>
    </div>
    <div id="logging" class="card is-fullwidth" x-data="{ open: true }" style="border: 1px solid black">
        <header class="card-header title" x-on:click="open = !open"> Message Log </header>
        <div class="card-content" style="min-height: 200px; max-height: 250px; overflow-y: scroll;" x-show="open">
            <ul id='messages'>
            </ul>
        </div>
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            Regicide Card Game
        </div>
    </footer>
</div>
{% endblock %}
