{% extends 'layouts/base.html' %}
{% block title %}
Regicide Card Game
{% endblock %}

{% block includes %}
<link rel="stylesheet" href="/static/minimal.css">
<script charset="utf-8" src="/static/regi.js"></script>
<script charset="utf-8">
document.addEventListener('alpine:init', () => {
    Alpine.store('gamestate', {
        playerShould: "",
        myTurn: false,
        ws: null,
        userid: "{{ userid }}",
        username: "{{ username }}",
        playerid: "{{ playerid }}",
        statusz: "LOADING",
        redirection: false,
        data: null,
        history: [],
        knownUsernames: { {{ playerid }}: "{{ username }}" },
        sideButtonActive: false,
        noDownload: {{ 'true' if no_download else 'false' }},
    })
    init_ws()
})
</script>
{% endblock %}


{% block body %}
<div class="container" x-data="{ activeTab: 'game' }" >
    <div class="tabs is-boxed is-hidden-tablet">
        <ul>
            <li :class="{ 'is-active': activeTab === 'game' }">
                <a @click="activeTab = 'game'">Game</a>
            </li>
            <li :class="{ 'is-active': activeTab === 'log' }">
                <a @click="activeTab = 'log'">Message Log</a>
            </li>
        </ul>
    </div>
    <div id="outputspot" class="card is-fullwidth" :class="{ 'is-hidden-mobile': activeTab !== 'game' }">
        <h1 class="title" x-text="'Game State'"></h1>
        <div id="game-overall">
            <div class="columns is-multiline is-mobile">
                <div class="column is-full-mobile is-3-tablet" x-show="$store.gamestate.statusz != 'LOADING'">
                    <div id="piles-view"></div>
                    <div id="players-view"></div>
                </div>
                <div class="column is-half-mobile is-1-tablet has-text-centered" x-show="$store.gamestate.statusz != 'LOADING'">
                    <div id="enemy-view"></div>
                </div>
                <div class="column is-half-mobile is-2-tablet has-text-centered" x-show="$store.gamestate.statusz != 'LOADING'">
                    <div id="combos-view"></div>
                </div>
                <div class="column is-full-mobile is-6-tablet" x-show="$store.gamestate.statusz != 'LOADING'">
                    <div x-show="!($store.gamestate.redirection)">
                        <h1 class="subtitle" x-text="'Your cards'" ></h1>
                        <div id="player-cards"></div>
                    </div>
                    <div x-show="$store.gamestate.redirection">
                        <h1 class="subtitle" x-text="'Other Players'" ></h1>
                        <div id="other-players"></div>
                    </div>
                    <h1 id="player-should" class="subtitle" x-text="$store.gamestate.playerShould"></h1>
                </div>
            </div>
            <div id="action-row">
                <div id="notif-bar">
                    <div id="turn-message"></div>
                </div>
                <div id="submit-zone">
                    <div id="main-button" class="control button is-large is-primary" x-on:click="mainButtonRedirect()" x-text="mainButtonText()"></div>
                    <div id="side-button" class="control button is-large is-secondary" x-show="sideButtonText() != '<hide>' && $store.gamestate.sideButtonActive" x-on:click="sideButtonRedirect()" x-text="sideButtonText()"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="logging" class="card is-fullwidth" :class="{ 'is-hidden-mobile': activeTab !== 'log' }">
        <h1 class="title" x-text="'Message Log'"></h1>
        <div class="card-content log-content">
            <ul id='messages'>
            </ul>
        </div>
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            Regicide Card Game
        </div>
    </footer>
</div>
{% endblock %}
