{% extends 'layouts/base.html' %}
{% block title %}
Regicide Card Game
{% endblock %}

{% block includes %}
<link rel="stylesheet" href="/static/minimal.css">
<script charset="utf-8" src="/static/regi.js"></script>
<script charset="utf-8">
document.addEventListener('alpine:init', () => {
    Alpine.store('gamestate', {
        playerShould: "",
        myTurn: false,
        ws: null,
        userid: "{{ userid }}",
        username: "{{ username }}",
        playerid: "{{ playerid }}",
        statusz: "LOADING",
        redirection: false,
        data: null,
        history: [],
    })
    init_ws()
})
</script>
{% endblock %}


{% block body %}
<div class="container" x-data="{ activeTab: 'game' }" >
    <div class="tabs is-boxed">
        <ul>
            <li :class="{ 'is-active': activeTab === 'game' }">
                <a @click="activeTab = 'game'">Game</a>
            </li>
            <li :class="{ 'is-active': activeTab === 'log' }">
                <a @click="activeTab = 'log'">Message Log</a>
            </li>
        </ul>
    </div>
    <div id="outputspot" class="card is-fullwidth" style="min-height: 400px; border: 1px solid black;" x-show="activeTab === 'game'">
        <h1 class="title" x-text="'Game State'"></h1>
        <div id="game-overall" style="min-height: 320px; border: 1px solid black;">
            <div class="columns is-vcentered">
                <div class="column is-one-quarter" x-show="$store.gamestate.statusz == 'RUNNING'">
                    <div id="game-view">
                    </div>
                </div>
                <div class="column is-one-quarter has-text-centered" x-show="$store.gamestate.statusz == 'RUNNING'">
                    <div id="enemy-view">
                    </div>
                </div>
                <div class="column"  x-show="$store.gamestate.statusz == 'RUNNING'">
                    <h1 id="player-should" class="subtitle" x-show="$store.gamestate.myTurn" x-text="$store.gamestate.playerShould"></h1>
                    <div x-show="!($store.gamestate.redirection)">
                        <h1 class="subtitle" x-text="'Your cards'" ></h1>
                        <div id="player-cards">
                        </div>
                    </div>
                    <div x-show="$store.gamestate.redirection">
                        <h1 class="subtitle" x-text="'Other Players'" ></h1>
                        <div id="other-players">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-vcentered">
            <div id="turn-message" class="column is-two-fifths"></div>
            <div class="column is-one-fifth"></div>
            <div id="submit-zone" class="column is-two-fifths">
                <div id="main-button" class="control button is-large is-primary" x-on:click="mainButtonRedirect()" x-text="mainButtonText()"></div>
                <div id="side-button" class="control button is-large is-secondary" x-show="sideButtonText() != '<hide>'" x-on:click="sideButtonRedirect()" x-text="sideButtonText()"></div>
            </div>
        </div>
    </div>
    <div id="logging" class="card is-fullwidth" style="border: 1px solid black;" x-show="activeTab === 'log'">
        <h1 class="title" x-text="'Message Log'"></h1>
        <div class="card-content" style="min-height: 400px; max-height: 500px; overflow-y: scroll;">
            <ul id='messages'>
            </ul>
        </div>
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            Regicide Card Game
        </div>
    </footer>
</div>
{% endblock %}
